<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://cdn.shopify.com/s/files/1/0016/5360/4407/articles/grapefruit-mojito_2048x.jpg?v=1554842144);">
    <h1>Ready to Cha Cha Kombucha?</h1>
    <p>Spice up your life with the best drink in the world!</p>
    <a class="btn btn-flat banner-button" href="/kombuchas">Taste us!</a>
</div>

<% if current_user %>
  <%= link_to "View My Kombuchas", dashboard_path, class:"btn btn-primary" %>
<% end %>

