

<h1>Ready to Cha Cha Kambucha?!</h1>

<% if current_user %>
  <%= link_to "View My Kombuchas", dashboard_path, class:"btn btn-primary" %>
<% end %>
<%= link_to "View All Kombuchas", kombuchas_path, class:"btn btn-info" %>
