.cards-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: flex-start;
  margin: 5px 60px 30px 60px;
  a:hover {
    text-decoration: none;
  }
}

.card {
  width: 300px;
  height: 350px;
  overflow: hidden;
  background: white;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  border-radius: 5px;
  margin-bottom: 30px;
  transition: 0.4s;
}

.card:hover {
  transform: scale(0.95, 0.95);
  box-shadow: 0 0 15px rgba(0,0,0,0.25);
  // cursor: image-url('Beer.png');
  // cursor: vertical-text;
  cursor: url(Beerdesk.png), auto;
}
.bw {
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}


// .card-trip > img {
//   height: 200px;
//   width: 100%;
//   object-fit: cover;
// }

.card-info {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
  h2 {
    font-size: 20px;
    color: black;
    margin-top: 0.1rem;
    }

  p {
    font-size: 16px;
    opacity: 0.2;
    color: black;
    font-weight: lighter;
  }
}

.user {
  position: absolute;
  right: 16px;
  top: -30px;
  width: 60px;
}

.card-pricing {
  position: absolute;
  right: 30px;
  top: 46px;
}

.home-card {
  width: 300px;
  height: 350px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  border-radius: 5px;
  margin-bottom: 30px;
  transition: 0.4s;
  margin: auto;
  background-size:cover;
}

.card-product {
  overflow: hidden;
  height: 400px;
  background: #94D1BE;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  margin: 20px 0;
}

.card-product img {
  height: 100%;
  width: 400px;
  object-fit: cover;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 16px;

}

.cards-container-trans {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: flex-start;
  margin: 5px 60px 60px 60px;
  a:hover {
    text-decoration: none;
  }
}

.card-trans {
  width: 300px;
  overflow: hidden;
  background: white;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  border-radius: 5px;
  margin-bottom: 30px;
  transition: 0.4s;
}

.card-trans:hover {
  transform: scale(0.95, 0.95);
  box-shadow: 0 0 15px rgba(0,0,0,0.25);
}

.card-info-trans {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
  h2 {
    font-size: 20px;
    color: black;
    }

  p {
    font-size: 16px;
    opacity: 0.2;
    color: black;
    font-weight: lighter;
  }
}
