.cards-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: flex-start;
  margin: 60px;
  a:hover {
    text-decoration: none;
  }
}

.card {
  width: 300px;
  height: 350px;
  overflow: hidden;
  background: white;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  border-radius: 5px;
}

// .card-trip > img {
//   height: 200px;
//   width: 100%;
//   object-fit: cover;
// }

.card-info {
  padding: 16px;
  // display: flex;
  // justify-content: space-between;
  // align-items: flex-end;
  // position: relative;
  h2 {
    font-size: 20px;
    color: black;
    }

  p {
    font-size: 16px;
    opacity: 0.2;
    color: black;
    font-weight: lighter;
  }

}
