
.nav-container {
  font-family: 'Nunito', sans-serif;
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
}


.nav-link,
.navbar-brand {
  color: #E76D83;
  cursor: pointer;
}

.nav-link {
  margin-right: 1em !important;
}
.nav-link:hover {
  color: #000;
}

.nav-right {
  display: flex;
  justify-content: space-around;
  margin: 30px  0px;
  width: 340px;
}

.nav-left {
  width: 340px;
}

.nav-img {
  vertical-align: middle;
}
.nav-img img {
  width: 150px;
}

.nav-item {
 flex-grow: 1;
 align-items: center;
 text-align: center;
 position: relative;
}

.nav-login {
  display: flex;
  text-align: right;
  position: absolute;
  right: 15px;
}

.social-media {
  text-align: center;
  align-items: center;
  justify-content: space-between;
}

.social-media a {
  justify-content: space-between;
  padding: 5px;
}
