<div class="container-after-checkout">
  <h1>Order Complete</h1>
  <p>Booch on its way <i class="fas fa-truck"></i> </p>
  <img src="https://media.giphy.com/media/2wW3ZRY6HjP9WoXwn3/giphy.gif">
  <%= link_to "Show me more Booch", kombuchas_path, class: "btn btn-flat banner-button" %>
</div>
